#judul{
    text-align: center;
}
body {
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
#salsa {
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
}
#kosong {
    color:#C3E0F4 ;
    line-height: 100px;
}
#monangis {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #004D87;
    font-family: 'Jua', sans-serif;
}
#semangat {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-decoration-line: underline;
    color: #004D87;
    font-family: 'Raleway', sans-serif;
}
#jargon {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height:15px;
    text-align: center;
    text-decoration-line: underline;
    color: #004D87;
    font-family: 'Jua', sans-serif;
}
#topright  {
    position: absolute;
    top: 8px;
    right: 16px;
} 
#topright2 {
    position: absolute;
    top: 8px;
    right: 80px;  
}
.backgroud {
    background-repeat: no-repeat;
    background-color:	#f3c3c3;
    height: 1711px;
    max-width: initial;
    display: block;
}
.abc {
    background-color: #C3E0F4;
    color: #004D87;
}
#colorr{
    background-color: #004D87;
}
#warna{
    color: #004D87;
}
.navbarrr {
    color: #004D87;
}
#navbarSupportedContent {
    color: #004D87;
}
.bgsifatkoloid {
    color: #FCCDCD;
}
.isisifatkoloid {
    color: #004D87;
    text-align: justify;
    margin-left: 90px;
    margin-right: 90px;
}
#fontisisifatkoloid {
    font-size: 15px;
}
#gambarsifatkoloid {
    position: center ;
}
#judulsifatkoloid {
    color: #004D87;
    text-align: center;
    font-size: 100px;
    line-height:250px;
}
#biarsifatkoloidketengah {
    color: #C3E0F4;
    line-height: 600px;
}
/* .backgroud2{
    background-color: #FCCDCD;
} */
#judul{
    text-align: center;
    margin-top: 20px;
    color: #004D87;
}
#bgvideo {
    background-color: #f3c3c3 ;
}