{% extends 'menu.html' %}
{% load static %}
{% block content %}
<html>
 <body>
     <div class="container-fluid">
        <p id="kosong"> .</P>
            <h2 id="monangis">KAMI DISINI UNTUK MEMBANTU ANDA</h2> 
            <h1 id="semangat">SELAMAT DATANG DI CHEMSROOM</h1>
            <h3 id="jargon">jargon</h3>
          <div class="row">
              <div class="col-md-12">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
              </div>
          </div>
     </div>

 </body> 
 
</html>
{% endblock %}