{% extends 'menu.html' %}
{% load static %}
{% block content %}
<html>
 <body>
     <h1 id="judul">>INI YANG A</h1>
     <p id="salsa">Website ini berisi tentang pembelajaran kimia untuk KKN</p>
     <img src="{% static 'images/20.jpg' %}" alt="CGT" height="300" width="400"> 
 </body>  
</html>
{% endblock %}