{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>KKN ONLINE</title>
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
       
    </head>
<nav class="navbar navbar-expand-lg navbar-dark abc">
    <div class="topnav">
        <a class="navbar-brand" href="{% url 'koloid:index' %}"><img src="{% static 'images/output-onlinepngtools-6.png'  %}" height = "60px" width ="60px" id="topright"></a>
        <img src="{% static 'images/Logo-UNJ-Universitas-Negeri-Jakarta-Original.png'  %}" height = "50px" width ="50px" id="topright2">
        <button class="navbar-toggler" id="colorr" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse navbarrr" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-link dropdown">
                <a class="nav-link dropdown-toggle navbarrr" id="warna" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    materi
                </a>
                    <div class="dropdown-menu navbarrr" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item navbarrr" href="/sifat-koloid">sifat koloid</a>
                        <a class="dropdown-item navbarrr" href="/jenis-koloid">jenis koloid</a>
                        <a class="dropdown-item navbarrr" href="/pembuatan-koloid">pembuatan koloid</a>
                    </div>
                </li>
                <li class="nav-link">
                    <a class="nav-link" id="warna" href="/soal" target="_blank">soal</a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" id="warna" href="/video" target="_blank">video</a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" id="warna" href="/games" target="_blank">games</a>
                </li>
                <li class="nav-link">
                    <a class="nav-link" id="warna" href="/tentang-kami" target="_blank">tentang kami</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="backgroud" style="background-image: url({% static 'images/bgggg.png' %});">
{% block content %}
{% endblock %}
</html>