{% extends 'menu.html' %}
{% load static %}
{% block content %}
<html>
    <body>
        <h1 id="judulsifatkoloid">
            SIFAT KOLOID
        </h1>
        <p id="biarsifatkoloidketengah">
            .
        </p>
        <div class="row isisifatkoloid">
            <div class="col-md-12">
                <h2>
                    1.	Efek Tyndall
                </h2>
                <p id="fontisisifatkoloid">
                    Efek Tyndall merupakan efek penghamburan berkas sinar (cahaya) oleh partikel-partikel koloid. Hal ini disebabkan karena ukuran pertikel koloid yang cukup besar. Efek tyndall ini ditemukan oleh John Tyndall (1820-1893), seorang ahli fisika Inggris. Pada saat larutan disinari dengan cahaya, maka larutan tersebut tidak akan menghamburkan cahaya, sedangkan pada sistem koloid cahaya akan dihamburkan. Hal tersebut terjadi karena partikel-partikel koloid mempunyai partikel yang relatif besar untuk dapat menghamburkan sinar tersebut. Sebaliknya, pada larutan sejati, partikel-partikelnya relatif kecil sehingga hamburan yang terjadi hanya sedikit dan sangat sulit diamati.
                </p>
                <img id="gambarsifatkoloid" src="{% static 'images/Efek tyndall.png'  %}">
                <h2>
                     2.	Gerak Brown
                </h2>
                <p>
                    Gerak brown adalah gerak acak, gerak tidak beraturan, atau gerak zigzag partikel koloid. Gerakan ini terjadi akibat adanya tumbukan partikel pendispersi terhadap partikel terdispersi. Jika diamati dibawah mikroskop ultra, maka akan terlihat bahwa partikel-partikel tersebut bergerak membentuk zigzag. 
                </p>
                <p>
                    Semakin kecil ukuran partikel koloid, maka semakin cepat gerak brown yang terjadi. Demikian pula, semakin besar ukuran partikel koloid, semakin lambat gerak brown yang terjadi. Gerak brown juga dipengaruhi oleh suhu. Semakin tinggi suhu sistem koloid, maka semakin besar energi kinetik yang dimiliki partikel-partikel medium pendispersinya. Akibatnya, gerak brown dari partikel-partikel fase terdispersinya semakin cepat. 
                </p>
                <p>
                    Contoh gerak brown dalam kehidupan sehari-hari yaitu pada susu. Apabila susu didiamkan dalam waktu beberapa lama, tidak akan terdapat endapan. Hal ini disebabkan karena adanya gerak terus-menerus secara acak yang dilakukan oleh partikel-partikel koloid dalam susu.
                </p>
                <img id="gambarsifatkoloid" src="{% static 'images/Gerak brown 1.png'  %}">
                <img id="gambarsifatkoloid" src="{% static 'images/Gerak brown 2.png'  %}">
                <h2>
                    3.	Adsorpsi
                </h2>
                <p>
                    Adsorpsi peristiwa penyerapan partikel atau ion atau senyawa lain pada permukaan partikel koloid yang disebabkan oleh luasnya permukaan partikel. Zat yang diserap disebut adsorbat dan zat yang menyerap disebut adsorben. Peristiwa adsorpsi disebabkan oleh gaya tarik molekul pada permukaan adsorben. Contoh adsorpsi pertama, pada koloid Fe(OH)3 yang bermuatan positif karena permukaannya menyerap ion H+. Contoh berikutnya pada koloid As2S3 yang bermuatan negatif karena permukaannya menyerap ion S2+.
                </p>
                <img id="gambarsifatkoloid" src="{% static 'images/Adsorpsi 1.png'  %}">
                <img id="gambarsifatkoloid" src="{% static 'images/Adsorpsi 2.png'  %}">
                <h2>
                    4.	Koagulasi
                </h2>
                <p>
                    Koagulasi merupakan peristiwa pengendapan atau penggumpalan koloid. Dengan terjadinya koagulasi, berarti zat terdispersi tidak lagi membentuk koloid. Jika muatan koloid dihilangkan, maka kestabilannya akan berkurang sehingga dapat menyebabkan koagulasi atau penggumpalan. Waktu koagulasi koloid bervariasi antara yang satu dengan yang lain. Koagulasi spontan umumnya lambat dan dapat dipercepat dengan alat sentrifugal ultra. Alat ini akan memutar koloid dengan kecepatan tinggi sehingga partikel didorong ke dasar tabung reaksi.
                </p>
                <img id="gambarsifatkoloid" src="{% static 'images/Koagulasi.png'  %}">
                <h2>
                    5.	Koloid Pelindung 
                </h2>
                <p>
                    Koloid pelindung meupakan koloid yang mempunyai sifat yang dapat melindungi koloid lain dari proses koagulasi.
                </p>
                <h2>
                    6.	Dialisis
                </h2>
                <p>
                    Dialisis merupakan proses pemurnian koloid yang didasarkan pada perbedaan ukuran partikel. Dialisis juga dapat diartikan proses pemisahan koloid dari ion-ion pengganggu, yaitu dengan mengalirkan cairan yang tercampur dengan koloid melalui membran semi permeable yang berfungsi sebagai penyaring. Membran semi permeable ini dapat dilewati cairan tetapi tidak dapat dilewati koloid, sehingga koloid dan cairan akan berpisah.
                </p>
                <img id="gambarsifatkoloid" src="{% static 'images/dialisis.png'  %}">
                <h2>
                    7.	Elektroforesis
                </h2>
                <p>
                    Elektroforesis merupakan peristiwa bergeraknya partikel koloid dalam medan listrik yang bergerak ke arah elektroda berlawanan. Contoh elektroforesis dalam kehidupan sehari-hari yaitu pada industri mobil, saat proses pengecatan badan mobil dialiri cairan bermuatan yang berlawanan sehingga cat dapat menempel dengan sempurna.
                </p>
            </div>
        </div>
    </body>
</html>
{% endblock %}