{% extends 'menu.html' %}
{% load static %}
{% block content %}
<html>
 <body>
    <p> 1. Diberikan beberapa cara pembuatan koloid berikut.
        <p>
            (1) busur Bredig
        </p>
        (2) mekanik
        (3) peptisasi
        (4) reaksi hidrolisis
        (5) reaksi dekomposisi rangkap
        Pembuatan koloid secara dispersi adalah…..
        A. (1), (2), (3)
        B. (1), (2), (5)
        C. (1), (3), (5)
        D. (2), (3), (4)
        E. (2), (3), (5)
        </p>
 </body>  
</html>
{% endblock %}