{% extends 'menu.html' %}
{% load static %}
{% block content %}
<html>
 <body id="bgvideo">
     <div class="row">
         <div class="col-md-12">
             <h1 id="judul">Apa itu koloid?</h1>
         </div>
     </div>
     <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <video id="video1" width="720" height="480" controls>
                <source src="{% static 'videos/Apa itu Koloid – Kimia Kelas XI.mp4'  %}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <p>source: <a href="https://youtu.be/QLjMB2YSgWQ" target="_blank">Youtube/DaniRizky</a> 
            </p>
        </div>
        <div class="col-md-3"></div>
     </div>


    <div class="row">
        <div class="col-md-12">
            <h1 id="judul">Pengertian Koloid</h1>
        </div>
    </div>
    <div class="row">
       <div class="col-md-3">
       </div>
       <div class="col-md-3">
           <video id="video1" width="720" height="480" controls>
               <source src="{% static 'videos/Pengertian Koloid.mp4'  %}" type="video/mp4">
             Your browser does not support the video tag.
           </video>
           <p>source: <a href="https://youtu.be/dm-a4d5-NrA" target="_blank">Youtube/ChemistryEcha</a> 
           </p>
       </div>
       <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 id="judul">Jenis-Jenis Koloid</h1>
        </div>
    </div>
    <div class="row">
       <div class="col-md-3">
       </div>
       <div class="col-md-3">
           <video id="video1" width="720" height="480" controls>
               <source src="{% static 'videos/Jenis-Jenis Koloid.mp4'  %}" type="video/mp4">
             Your browser does not support the video tag.
           </video>
           <p>source: <a href="https://www.youtube.com/watch?v=rFxvsxsjYN8&feature=youtu.be" target="_blank">Youtube/ChemistryEcha</a> 
           </p>
       </div>
       <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 id="judul">Sifat-Sifat Koloid</h1>
        </div>
    </div>
    <div class="row">
       <div class="col-md-3">
       </div>
       <div class="col-md-3">
           <video id="video1" width="720" height="480" controls>
               <source src="{% static 'videos/Sifat-Sifat Koloid.mp4'  %}" type="video/mp4">
             Your browser does not support the video tag.
           </video>
           <p>source: <a href="https://youtu.be/hc-0bY9bMR8" target="_blank">Youtube/RenySeptiani</a> 
           </p>
       </div>
       <div class="col-md-3"></div>
    </div>
 </body>  
</html>
{% endblock %}